@media (max-width: 426px) {
/*   .buy-button {
    
    background-color: #007bff;
    color: white;
    border: none;
    width: 50%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2sease;
    left: 10.8pc !important;
    top: -7px !important;
} */
/* #filters{
    display: block;
    width: 73% !important;
    padding: 5px 25px;
    background: #ffffff;
    border-radius: 15px !important;
}
.price {
    font-size: 1.1em;
    font-weight: bold;
    color: #007b00;
    margin-top: auto;
    position: relative;
    top: 21px;
} 
  .container {
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 2fr !important;
  }
} */
}
